.menu h4{
    font-size: 1.5rem;
    font-weight: 800;
    color: #f9e633;
    margin-bottom: 0.5rem; 
    text-transform: uppercase;
}
.menu h2{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: black;
    text-transform: capitalize;
}
.fillter li{
    font-size: 1.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.3s ease;
}
.fillter li:hover{
    color: red;
}
.menu-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-transform: capitalize;
    margin: 20px 0;
}
.menu-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-block: 10px;
    padding-inline: clamp(.5rem, 1.5vw, 2.5rem);
}
.menu-card img{
    width: 100px;
    height: 100px;
}
.menu-card h3{
    font-size: 1.3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: black;
    text-transform: capitalize;
}
.menu-card h4{
    font-size: .8rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.582);
    text-transform:lowercase;
}
.menu-card p{
    font-size: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: red;
    text-transform: capitalize;
}

.loop-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 10px 0;
}

.loop-list {
  display: inline-flex;
  gap: 50px;
  animation: scrollLoop 100s linear infinite;
}

.loop-list li {
  font-size: 5rem;
  font-weight: bold;
  list-style: none;
  color: #33333372;
  text-transform: uppercase;
}

@keyframes scrollLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
